:root{
    /* Sizes */
    --navbar-height-extended: 127px;
    --navbar-height-reduced: 63px;

    /* Colors */
    --title-color: #222222;
    --desctiption-color: #595760;
    --separator-color: #c4c4c4;
    --hover-color: #1a6aff
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: black;
}

.hidden_box{
    display: contents;
}

footer{
    background-color: #eee;
    display: block;
    width: 100%;
    height: auto;
    bottom: 0;
}

.social_box a{
    width: max-content;
    height: max-content;
}


.sn_icon{
    transform: scale(0.6);
    margin: 3px;
}

.footer_sub_box{
    display: flex;
    justify-content: space-between;
    padding: 22px 120px;
    align-items: center;
}

.footer_links_box{
    display: flex;
    flex-direction: column;

}

.footer_links_box *{
    margin: 5px 10px 5px 0;
    font-weight: 900;
}




.app_bar {
    position: fixed;
    left: 0;
    top: 0;
    background-color: lightgrey;
    width: 100%;
    height: var(--navbar-height-extended);
    border-bottom: 1px solid grey;
    margin: auto;

}

.app_bar *,footer {
    font-family: Grot10, Arial, sans-serif;
    font-size: 12px;
}

body div.nav_bar {
    margin-left: auto;
    margin-right: auto;
    background-color: deeppink;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    height: 1rem;
}

body div.nav_bar a {
    text-transform: uppercase;
}

body div.nav_bar .nav_bar_item {
    color: black;
    margin-right: 20px;
    letter-spacing: 2px;
    transition: 0.6s;
}

.nav_obj {
    background-color: green;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    align-items: center;
    margin: 0 auto;
    height: 52px;
}

body div.nav_icons {
    display: inline-flex;
    flex-wrap: nowrap;
}

.nav_icon {
    padding: 8px;
    width: auto;
    height: 20px;
    display: flex;
    vertical-align: baseline;
    background-color: blue;
    float: left;
}

.head_banner {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: var(--navbar-height-reduced);
    padding-top: 12px;
    gap: 1rem;
    justify-self: start;
}


.today_box {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    width: fit-content;
}


body div div.today_sub_box {
    margin: auto 0;
}

.today_box a {
    color: black;
    font-weight: bold;
}

.today_sub_box > * {
    margin-bottom: 8px;
    display: block;
}

#header_logo {
    width: 500px;
    display: block;
}

.buttons_box {
    background-color: chocolate;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    justify-self: end;

}

.buttons_box .button {
    font-weight: 900;
    color: black;
    text-transform: uppercase;
}


.buttons_box .button#sign_in {
    text-decoration: underline;
    margin-right: 12px;
}

.buttons_box .button#subscribe {
    background-color: rgb(245, 235, 0);
    border-radius: 4px;
    padding: 8px;
    width: 180px;
    height: 54px;
    letter-spacing: .08em;
    border: 1px;
    margin-right: 12px;
}

.buttons_box button div.subscribe_box {
    text-transform: none;
    font-weight: normal;
    font-size: 11px;
    max-height: 25px;
}

.logo {
    fill: #000000;
}

.app_bar {
    display: block;
}

.popup_box#search_box, .popup_box#menu {
    top: 129px;
    position: fixed;
}

.popup_box#search_box {
    display: none;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, .1);
    width: 616px;
    padding: 18px 28px;
    background-color: aquamarine;
    box-sizing: border-box;

}

.search_bar {
    border: 1px solid var(--separator-color);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    background-color: chartreuse;
    padding: 10px 18px;

}

.search_button {
    height: 25px;
    width: 25px;
    background-color: orangered;
}

#search_icon {
    width: 100%;
}

#search_input {
    width: 100%;
    background-color: darkred;

}

.popup_box{
    display: none;
}


.popup_box#menu {
    font-size: 14px;
    font-family: Grot10, Arial, sans-serif;
    height: 600px;
    display: none;
    background-color: crimson;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    padding: 20px 20px 50px 20px;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, .1);
    align-items: center;
    box-sizing: border-box;
}

.popup_box#menu,.nav_obj,.head_banner,main{
    max-width: 1280px;
}


.popup_box#menu .menu_sub_box {
    display: flex;
    flex-direction: column;
    background-color: goldenrod;
    width: 220px;
    height: fit-content;
    padding-bottom: 12px;


}

.popup_box#menu .menu_item {
    width: fit-content;
    background-color: darkmagenta;
    color: black;
    margin: 1px 20px 2px 20px;

}

.popup_box#menu .menu_item.title {
    width: auto;
    font-weight: bold;
    border-bottom: 1px solid grey;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: -1px;
    padding: 10px 10px 5px 20px;
    margin: 0;
}

.categories {
    background-color: greenyellow;
    height: fit-content;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    overflow: hidden;
}

.secondary_categories {
    display: grid;
    gap: 1rem;
    background-color: dodgerblue;
    grid-template-columns: 1fr 1fr;

}

.popup_box#menu .menu_item.title.secondary_title {
    border-bottom: none;
}

.popup_box#menu .menu_item.subcategories {
    margin-left: 35px;
}


.last_news_box{
    background-color: cornflowerblue;
}

main{
    display: block;
    margin: var(--navbar-height-extended) auto;
    padding: 20px;
}

section.last_news_box{
    display: grid;
    grid-template-columns: 42fr 33fr 25fr;
    gap: 1.5rem;
}

section.last_news_box>div{
    max-width: 100%;
}


.news-image{
    max-width: 100%;
    height: auto;
}


.box_title{
    border-top: 3px solid black;
    font-size: 32px;
    font-family: Grot12 Condensed, Arial Narrow, sans-serif;
    font-weight: 600;
    padding: .75rem 0 0;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-bottom: 16px;
}



article{
    display: block;
    padding-bottom: 16px;
}

.latest_news{
    list-style-type: none;
}

.latest_news>li{
    padding: 12px 0;
}

.latest_news *{
    font-size: 16px;
}

.latest_news>li:not(:first-child){
    border-top: 1px solid var(--separator-color);

}

section{
    margin-bottom: 10px;
    padding: 20px;
}

.hidden_box.reduced{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 0 auto;
    max-width: 1280px;
    height: inherit;
}



.app_bar.reduced {
    height: calc(var(--navbar-height-reduced) - 1px);

}
.today_box.reduced, .nav_obj .nav_bar.reduced, .subscribe_box.reduced {
    display: none;
}

.nav_obj.reduced {
    display: block;
    width: fit-content;
    height: fit-content;
    order: initial;
    margin: auto 0;
    justify-self: start;

}


.nav_icons.reduced {
    display: block;
    margin: 13px 0;
}
#header_logo.reduced {
    width: 325px;
    height: 37px;
    order: 2;
    margin-top: auto;
    margin-bottom: auto;
    justify-self: center;

}
#header_logo,.app_bar,.button {
    transition: height .5s, width .5s;
}
.buttons_box .button#subscribe.reduced {
    height: 38px;
    padding: 0;
}
.head_banner.reduced {
    padding-top: 0;
    display: contents;
}
.buttons_box.reduced {
    order: 3;
    width: fit-content;
    justify-self: end;
}
main.reduced{
    margin: calc(var(--navbar-height-reduced) + 1px) auto;
}

#news_sub_box{
    display: flex;
    flex-direction: column;
}

.separator{
    border-bottom: 1px solid var(--separator-color);
    margin-bottom: 16px;
}

/* FIXME rivedere */
.last_news_box .news *{
    margin-bottom: 16px;
}

.news h1{
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 12px;
}

.news p{
    font-size: 16px;
    color: var(--desctiption-color);
}

.news h1:hover{
    color: var(--hover-color);
    transition: color .5s;
}

.news.first h1{
    font-size: 32px;
}

.news.first p{
    font-size: 20px;
    max-width: 600px;
}
.author{
    padding-top: 16px;
}

.author a{
    font-size: 16px;
    color: var(--title-color);

}

.the_region .articles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.articles .first{
    grid-column: span 2;
}

.the_region .image_box{
    max-width: 100vw;
    min-width: 80px;
    width: 40%;
}


.the_region .news{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--separator-color);
}


.the_region .news .articles_preview *{
    margin-bottom: 16px;
}

.nation_and_world{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nation_and_world .first{
    grid-column: span 4;
}


.art{
    display: flex;
    flex-direction: column;

}

.art .news:not(:last-child){
    border-bottom: 1px solid var(--separator-color);
}

.art .news{
    padding: 16px 0;
}

.art .news a{
    display: flex;

}

.art .news a img{
    margin: 0 16px 16px 0;
}



.education .articles{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.education .first{
    grid-column: span 4;
}

.education .first_news{
    grid-row: span 2/span 2;
    grid-column: span 2/span 2;
}









@media screen and (max-width: 1024px) {

    .popup_box#search_box, .popup_box#menu {
        top: calc(var(--navbar-height-reduced) + 1px);
        width: 100%;
    }

    .app_bar{
        border-bottom: 2px solid black;
    }


    .subscribe_box {
        display: none;
    }

    .button#subscribe {
        display: none;
    }

    .buttons_box .button#sign_in {
        text-decoration: none;
        font-weight: 700;
    }


    .popup_box#menu {
        overflow: auto;
        height: 100%;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .categories, .secondary_categories {
        width: 100%;
        height: max-content;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        grid-auto-columns: min-content;
    }


    .popup_box#menu .menu_sub_box {
        justify-self: center;
    }




    section.last_news_box{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
    }

    .the_latest_box{
        grid-column: span 2;
    }


}


@media screen and (max-width: 767px){
    .footer_sub_box{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
}


@media screen  and (max-width: 600px) {
    #philadelphia {
        display: none;
    }

    #the {
        transform: translate(0, 0);
    }

    #inquirer {
        transform: translate(-50%, 0);
    }

    #philadelphia, #the, #inquirer {
        transition: all .5s;
    }

    #header_logo {
        width: 140px;
        height: 60px;
        display: flex;
        justify-self: center;

    }

    svg {
        transform: scale(2) translateX(25%);
    }

    .buttons_box .button#sign_in {
        margin: 0;
    }


}

@media screen and (max-width: 480px) {
    .popup_box#menu {
        padding: 28px 0;
    }

    .categories {
        display: block;
    }

    .popup_box#menu .menu_sub_box {
        width: 100%;
    }

    section.last_news_box{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .the_latest_box{
        grid-column: auto;
    }


}








