*{
    margin: 0;
    padding: 0;
    border: 0;
}

a{
    text-decoration: none;
}

body div.app_bar{
    position: fixed;
    left: 0;
    top: 0;
    background-color: lightgrey;
    width: 100%;
    height: 127px;
    border-bottom: 1px solid grey;
    margin: auto;

}

body div.app_bar *{
    font-family: Grot10,Arial,sans-serif;
    font-size: 12px;
}

body div.nav_bar{
    margin-left: auto;
    margin-right: auto;
    background-color: deeppink;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    height: 1rem;
}

body div.nav_bar a{
    text-transform: uppercase;
}

body div.nav_bar .nav_bar_item{
    color: black;
    margin-right: 20px;
    letter-spacing: 2px;
    transition: 0.6s;
}

body .nav_obj{
    background-color: green;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    max-width: 1280px;
    align-items: center;
    margin: 0 auto;
    height: 52px;
}

body div.nav_icons{
    display: inline-flex;
    flex-wrap: nowrap;
}

body .nav_icon{
    padding: 8px;
    width: auto;
    height: 20px;
    display: flex;
    vertical-align: baseline;
    background-color: blue;
    float: left;
}

body div.head_banner{
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 63px;
    padding-top: 12px;
    gap: 1rem;
}


body div.today_box{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}


body div div.today_sub_box{
    margin: auto 0;
}

body div.today_box a{
    color: black;
    font-weight: bold;
}

body div.today_sub_box>*{
    margin-bottom: 8px;
    display: block;
}

body #header_logo{
    width: 500px;
    display: block;
}

body div.buttons_box{
    background-color: chocolate;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 100%;


}

body div.buttons_box .button{
    font-weight: 900;
    color: black;
    text-transform: uppercase;
}


body div.buttons_box .button#sign_in{
    text-decoration: underline;
    margin-right: 12px;
}

body div.buttons_box .button#subscribe{
    background-color: rgb(245, 235, 0);
    border-radius: 4px;
    padding: 8px;
    width: 180px;
    height: 54px;
    letter-spacing: .08em;
    border: 1px;
    margin-right: 12px;
}

body div.buttons_box button div.subscribe_box{
    text-transform: none;
    font-weight: normal;
    font-size: 11px;
    max-height: 25px;
}

.logo {
    fill:#000000;
}

.app_bar{
    display: block;
}

#search_box,#menu{
    top: 129px;
    position: fixed;
}

#search_box{
    display: none;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, .1);
    width: 616px;
    padding: 18px 28px;
    background-color: aquamarine;
    box-sizing: border-box;

}

.search_bar{
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    background-color: chartreuse;
    padding: 10px 18px;

}

.search_button{
    height: 25px;
    width: 25px;
    background-color: orangered;
}

#search_icon{
    width: 100%;
}

#search_input{
    width: 100%;
    background-color: darkred;

}



#menu{
    font-size: 14px;
    font-family: Grot10,Arial,sans-serif;
    height: 600px;
    background-color: crimson;
    max-width: 1280px;
    display: flex;
    padding-bottom: 40px;
    box-sizing: border-box;

}



#menu .menu_sub_box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: goldenrod;
    width: 200px;
    height: fit-content;
    margin: 10px 10px 0;
}

#menu .menu_item{
    width: fit-content;
    background-color: darkmagenta;
    color: black;
    margin: 1px 20px 2px 20px;

}

#menu .menu_item.title{
    width: auto;
    font-weight: bold;
    border-bottom: 1px solid grey;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: -1px;
    padding: 10px 10px 5px 20px;
    margin: 0;
}

.categories,.secondary_categories{
    background-color: greenyellow;
    height: 100%;
    display: flex;
    width: fit-content;
    flex-direction: column;
    flex-wrap: wrap;
}

.secondary_categories{
    background-color: dodgerblue;

}

#menu .menu_item.title.secondary_title{
    border-bottom: none;
}

#menu .menu_item.subcategories{
    margin-left: 35px;
}


@media screen and (max-width: 1024px){
    body div.app_bar{
        height: 62px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-bottom: 2px solid black;
        gap: 1rem;
    }

    #search_box,#menu{
        top: 64px;
        width: 100%;
    }



    body div.today_box{
        display: none;
    }

    body .nav_obj{
        display: block;
        width: fit-content;
        height: fit-content;
        order: initial;
        margin: 0;

    }

    body div.nav_obj .nav_bar{
        display: none;
    }

    body .nav_icons{
        display: block;
        margin: 13px 0;
    }

    body #header_logo{
        width: 325px;
        height: 37px;
        order: 2;
        margin-top: auto;
        margin-bottom: auto;

    }

    #header_logo,div.app_bar,.button{
        transition: height .5s, width .5s;
    }

    body div.buttons_box .button#subscribe{
        height: 38px;
        padding: 0;
    }

    body div.subscribe_box{
        display: none;
    }

    body .button#subscribe {
        display: none;
    }

    body div.buttons_box .button#sign_in{
        text-decoration: none;
        font-weight: 700;
    }


    body div.head_banner{
        padding-top: 0;
        display: contents;
    }

    body div.buttons_box{
        order: 3;
    }

    #menu{
        flex-direction: column;
        overflow: auto;
        height: 100%;
    }

    .categories,.secondary_categories{
        width: 100%;
        align-items: center;
    }


}


@media screen  and (max-width: 600px) {
    #philadelphia{
        display: none;
    }
    #the{
        transform: translate(0, 0);
    }
    #inquirer {
        transform: translate(-50%, 0);
    }
    #philadelphia,#the,#inquirer{
        transition: all .5s;
    }

    body #header_logo{
        width: 140px;
        height: 60px;
        display: flex;
        justify-self: center;

    }

    body svg{
        transform: scale(2) translateX(25%);
    }

    body div.buttons_box .button#sign_in{
        margin: 0;
    }

}








